

@media only screen and (max-width:720px)
{
    .animeGridItem{
        display: block !important;
    }

    .animeName{
        text-align: center;
    }
}

.animeGridItem{
    /* border: solid; */
    border-width: 1px;
    margin: 1% ;
    display: flex;
    flex-direction: row;
}

.animeInfoContainer{
    font-size: small;
    font-weight: 400;
    padding-left: 1rem;
}


.animeName{
    margin-left: 1rem;
    font-size: smaller;
    font-weight: 700;
    display: flex;
    padding-bottom: 1rem;
    /* flex-grow: 1; */
    /* max-width: 50%; */
}


.rating{
    width: 4rem;
    font-size: smaller;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}


.animeYear{
    padding-left: 0.2rem;
    font-weight: 400;
    color: #c7c7c5;
}

.field{
    padding: .25rem;
    font-weight: 400;
}