

@media only screen and (max-width:720px)
{
    .animeItem{
        display: block !important;
    }

    .animeName{
        text-align: center;
    }
}

.animeItem{
    border-bottom: solid;
    border-width: 1px;
    margin: 1%;
    display: flex;
    flex-direction: row;
}

.animeInfo{
    display: flex;
    flex-direction: row;
}


.animeName{
    margin-left: 1rem;
    font-size: larger;
    font-weight: 700;
    flex-grow: 1;
}


.rating{
    width: 4rem;
    font-size: smaller;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

