

.button{
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: #D1D1D0;
    align-items: center;
    border-radius: 5px;
    height: fit-content;
    align-self: center;
}

.button:hover,
.button:active{
    background-color: rgb(31,30,31,12);
}