

.Rating{
    text-align: center;
    color: #af42ed;
    font-weight: 700;
}

.imageCard{
    margin: 0.5rem;
}

.imageCard img{
    border-radius: 5px;
}

@media(max-width:720px)
{
    .imageCard{
        text-align: center;
    }
}